@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	@apply text-base overflow-hidden;
	font-family: var(--font-zen), sans-serif;
	color: rgb(var(--foreground-rgb));
	background-color: #0e0f0f;

	@media (max-width: 1200px) {
		font-size: 16px;
	}

	@media (max-width: 992px) {
		font-size: 14px;
	}
}

input.defaultCheckbox {
	color: white;
}

input.defaultCheckbox::before {
	content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66662 10.115L12.7946 3.98633L13.7379 4.92899L6.66662 12.0003L2.42395 7.75766L3.36662 6.81499L6.66662 10.115Z' fill='white'/%3E%3C/svg%3E%0A");
	fill: currentColor;
	opacity: 0;
	height: 16px;
	width: 16px;
	top: -2px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0px);
}

input.defaultCheckbox::before path {
	fill: currentColor;
}

input:checked.defaultCheckbox::before {
	opacity: 1;
}

.slide {
	animation: slide_anim 0.5s;
}

@keyframes slide_anim {
	from {
		transform: translateX(50px);
		opacity: 0.4;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.animation-opacity {
	animation: opacity_anim 0.5s;
}

@keyframes opacity_anim {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.app-container {
	min-height: 100vh;
	padding: 1em 1em;
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.app-sidebar {
	flex-grow: 0;
	flex-shrink: 0;
	min-width: 150px;
	max-width: 300px;
	display: flex;
	border-right: #e9e9e9 1px solid;
	flex-direction: row;
	background: #ffffff;
	box-shadow: -8px 2px 22px -7px rgba(0, 0, 0, 0.25);
	border-radius: 10px 0px 0px 10px;
	z-index: 2;
}

.app-frame {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-height: 100%;
	background: #ffffff;
	box-shadow: 8px 2px 32px -2px rgba(0, 0, 0, 0.25);
	border-radius: 0px 10px 10px 0px;
	z-index: 1;
}

.app-sidebar .app-sidebar-content {
	flex: 1;
}

.app-sidebar .app-sidebar-resizer {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 6px;
	justify-self: flex-end;
	cursor: col-resize;
	resize: horizontal;
}

.app-sidebar .app-sidebar-resizer:hover {
	width: 3px;
	background: #c1c3c5b4;
}
